
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #fffafa; 
  color: rgb(26, 20, 20); /* Text color */
  padding: 10px 20px; 
}
.logo {
  font-size: 1.5rem;
}

.nav-links a {
  text-decoration: none; 
  color: white; 
  margin-right: 20px; 
}

.nav-links a:hover {
  color: #FFA500; 
}




.home-container {

  min-height: 691px;

  background-color:#203164;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1150px; 
  margin: 0 auto; 
  border-radius: 28px;
}

.left h1 {
  flex: 1;
  position: absolute;
width: 450px;
height: 33px;
left: 83.2px;
top: 137px;
font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 60px;


color: #FAC829;
}
.left h2{

  position: absolute;
  width: 550px;
  height: 33px;
  left: 83.2px;
  top: 186px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 56px;
  line-height: 219%;
  color: #FFFFFF;
  
  }



.right img {
  height: 831px; 
  width: 641px; 
}
.right img {
  height: 841; 
  width: 641px;
}



.cta-button {
  background-color: #ffffff; 
  color: #203164; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 45px; 
  justify-content: first baseline;
  
  
  
}

.cta-button:hover {
  background-color: #FF8C00;
}
